.xtx_body {
    padding: 30px 0 85px;
    background-color: #f6f6f6;
    ;
}

.xtx_body .wrapper {
    display: flex;
}

/* 左边侧边栏 */
.xtx_body .aside {
    width: 227px;
    min-height: 500px;
    margin-right: 18px;
    background-color: #fff;
}

.xtx_body .aside .one {
    border-bottom: 1px solid #f4f4f4;
}

.aside .one div {
    margin: 44px 72px 3px 56px;
    width: 99px;
    height: 99px;
}

.aside .one div img {
    height: 85px;
}

.aside .one p {
    font-size: 18px;
    color: #333333;
    margin-left: 68px;
    margin-bottom: 12px;
}

.aside .one span {
    text-align: center;
    margin: 0 0 34px 50px;
    display: inline-block;
    width: 93px;
    height: 26px;
    border-radius: 13px;
    background-color: #e05e2f;
    line-height: 26px;
}

.aside .one span img {
    margin-right: 4px;
    width: 15px;
    height: 15px;
}

.aside .two {
    padding: 34px 90px 32px 52px;
    border-bottom: 1px solid #f4f4f4;
}

.aside .two {
    font-size: 18px;
    color: #333333;
}

.aside .two li {
    font-size: 14px;
    color: #666666;
    margin-top: 32px;
    line-height: 18px;
}

.aside .two li:hover a {
    color: #5cb99e;
}

.aside .three {
    padding: 25px 95px 22px 53px;
    border-bottom: 1px solid #f4f4f4;
}

.aside .three h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 12px;
}

.aside .three li a {
    margin-top: 18px;
    display: inline-block;
    font-size: 14px;
}

.aside .four {
    padding: 25px 100px 25px 53px;
    border-bottom: 1px solid #f4f4f4;
}

.aside .four h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 12px;
}

.aside .four li a {
    margin-top: 18px;
    display: inline-block;
    font-size: 14px;
}

.aside .five {
    padding: 25px 100px 25px 53px;
    border-bottom: 1px solid #f4f4f4;
}

.aside .five h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 12px;
}

.aside .five li a {
    margin-top: 18px;
    display: inline-block;
    font-size: 14px;
}






/* 主体内容 */
.xtx_body .main {
    /* width: ; */
    flex: 1;
    min-height: 500px;
    /* background-color: skyblue; */
}

/* 账户概览 */
.overview {
    display: flex;
    height: 132px;
    background-color: #fff;
    margin-bottom: 18px;
    padding: 20px 0;
}

.overview div {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.overview div img {
    height: 25px;
    margin-bottom: 10px;
}

.overview div:first-child {
    border-right: 1px solid #f4f4f4;
}

.overview div span {
    font-size: 25px;
    color: #e05e30;
    /* margin-bottom: 10px; */
}

.overview div p {
    font-size: 16px;
}

/* 公共样式 */
.pannel {
    padding: 28px 20px;
    background-color: #fff;
    margin-bottom: 20px;

}

.pannel .pannel_title {
    display: flex;
    justify-content: space-between;
    height: 45px;
    border-bottom: 1px solid #f4f4f4;
}

.pannel .pannel_title h4 {
    font-size: 22px;
    color: #333;
    font-weight: 400;
}

.pannel .pannel_title a {
    margin-top: 8px;
    font-size: 16px;
    color: #999;

}

/* 订单 */
.orders li {
    display: flex;
    margin-top: -1px;
    height: 137px;
    border: 1px solid #f4f4f4;
    margin-bottom: 20px;
}

.orders li:last-child {
    margin-bottom: 0;
}

.orders li .goods {
    display: flex;
    align-items: center;
    padding: 17px 0 14px 12px;
    flex: 1;
    margin-right: 120px;
}


/* 文字溢出隐藏 */
.orders .goods .txt {
    flex: 1;
    /* 溢出的时候显示省略号 */
    /* 弹性盒子的尺寸可以被内容撑开，不换行的文字可以把盒子的尺寸撑开 */
    width: 0;
}

/* 文字溢出隐藏 */
.orders .goods .txt h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.orders .goods .pic {
    width: 107px;
}

.orders li .status {
    width: 120px;
    font-size: 14px;
    color: #e05e30;
    text-align: center;
    margin-top: 63px;
}

.orders li .pay {
    width: 200px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.orders li .action {
    width: 180px;
}

.orders li .common {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orders .pay p {
    font-size: 14px;
}

.orders .pay p:first-child {
    color: #9a2e1f;
}

.orders .action a:first-child {
    width: 100px;
    height: 30px;
    background-color: #5eb69c;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}



/* 收藏的商品 */
.collect .collect_title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 18px;
}

.collect_content {
    display: flex;
}

.collect h4 {
    font-size: 24px;
}


.collect i {
    margin-top: 12px;
}

.collect i a {
    font-size: 16px;
    color: #999999;
}


.collect li {
    margin-right: 50px;
}


.collect li img {
    width: 160px;
    margin: 30px 0 23px 41px;
}

.collect .txt {
    width: 145px;
    height: 35px;
    margin-left: 30px;
}

.collect p {
    margin-left: 30px;
    margin-top: 15px;
    font-size: 17px;
    color: #9a2e1f;
}

.collect span {
    font-size: 22px;
    color: #9a2e1f;
}

.collect_content li {
    position: relative;
}

.collect_content .six {
    margin-left: 25px;
    margin-top: 22px;
    width: 28px;
    height: 51px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #5eb69c;
    color: #5eb69c;
    line-height: 22px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}