* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: url(../images/f1_1.jpg) no-repeat center 0;
    height: 100%;

    /* background-size: contain; */
    /* 图片等比例缩放，当宽度或高度和盒子尺寸相等，图片就不再缩放。 */


    /* 图片等比例缩放，图片完全覆盖到整个盒子，可能会导致图片显示不全 */
    background-size: cover;
}

/* 
1.img引入图片，控制位置
2.定义动画，使用动画 */
.cloud img {
    position: absolute;
    left: 50%;
    top: 0;
}

.cloud img:nth-child(1) {
    margin-left: -290px;
    top: 20px;
    animation: move 1s infinite alternate linear;
}

.cloud img:nth-child(2) {
    margin-left: 490px;
    top: 80px;
    animation: move 1s infinite alternate linear 0.6s;
}

.cloud img:nth-child(3) {
    margin-left: -550px;
    top: 200px;
    animation: move 1s infinite alternate linear 0.3s;
}



@keyframes move {
    to {
        transform: translateX(20px);
    }
}

.balloon {
    position: absolute;
    left: 620px;
    top: 260px;
    animation: boo 1s infinite;
}

@keyframes boo {
    to {
        transform: translateY(30px);
    }
}

.bottom img {
    position: absolute;
    bottom: 80px;
    left: 50%;
    animation: bottom 1s infinite alternate linear 0.3s;
    ;
}

.bottom img:nth-child(1) {
    margin-left: -600px;
    top: 700px
}

.bottom img:nth-child(2) {
    margin-left: -300px;
    top: 700px
}

.bottom img:nth-child(3) {
    top: 700px
}

.bottom img:nth-child(4) {
    margin-left: 300px;
    top: 700px
}

@keyframes bottom {
    to {
        transform: translateY(15px);
    }
}