@import './base';
@import './normalize';


// 变量：存储37.5
@rootsize: 37.5rem;


body {
    background-color: #f0f0f0;
}

// 主体内容
.main {
    margin-bottom: (50/@rootsize);

    // banner
    .banner {
        height: (160/@rootsize);
    }

    // 活动标题
    .title {
        height: (40 /@rootsize);
        line-height: (40 /@rootsize);
        padding-left: (15 /@rootsize);

        h4 {
            font-size: (14 /@rootsize);
            color: #3C3C3C;
        }
    }

    // 活动
    .item {
        margin-bottom: (10/@rootsize);

        // 图
        .pic {
            position: relative;
            height: (160/@rootsize);


            // 收藏图标
            i {
                position: absolute;
                top: (15/@rootsize);
                right: (18/@rootsize);
                font-size: (24/@rootsize);
                color: #fff;
            }

            // 活动状态
            .active {
                position: absolute;
                left: (15/@rootsize);
                top: (-4/@rootsize);
                width: (68/@rootsize);
                height: (29/@rootsize);
                background-image: url(../images/status_active.png);
                background-size: contain;
                font-size: (12/@rootsize);
                color: #fff;
                text-align: center;
                line-height: (25/@rootsize);

                // 灰色图片样式
                // .active.off {}  必须是active类同时应用了off类（交集选择器）
                // &.off {
                //     background-image: url(../images/status_default.png);
                // }
            }
        }

        // 文字
        .txt {
            padding: (10/@rootsize) (15/@rootsize);
            background-color: #fff;

            .top {
                display: flex;
                justify-content: space-between;

                h5 {
                    width: (290/@rootsize);
                    font-size: (15/@rootsize);
                    color: 3C3C3C;
                    font-weight: 400;
                }

                p {
                    font-size: (15/@rootsize);
                    color: #FE6249;
                }
            }

            .bottom {
                display: flex;


                p {
                    margin-top: (12/@rootsize);
                    margin-right: (15/@rootsize);
                    font-size: (11/@rootsize);
                    color: #B4B4B4;

                    i {
                        font-size: (11/@rootsize);
                    }
                }
            }
        }
    }
}






// 底部工具栏
footer {
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: (50/@rootsize);
    background-color: #FECA49;

    text-align: center;

    a {
        font-size: (11/@rootsize);
        color: #D78B09;

        .iconfont {
            font-size: (24/@rootsize);
        }

        &.current {
            color: #fff;
        }
    }


}